Shaderglobals.fx RCDATA "Shaderglobals.fx"
Shadertextures.fx RCDATA "Shadertextures.fx"
Standardshader.fx RCDATA "Standardshader.fx"
FullscreenQuadHeader.fx RCDATA "FullscreenQuadHeader.fx"
FullscreenQuadFooter.fx RCDATA "FullscreenQuadFooter.fx"
ScreenToBackbuffer.fx RCDATA "ScreenToBackbuffer.fx"
DeferredDirectionalAmbientLight.fx RCDATA "DeferredDirectionalAmbientLight.fx"
DeferredPointLight.fx RCDATA "DeferredPointLight.fx"
PosteffectDrawZ.fx RCDATA "PosteffectDrawZ.fx"
PosteffectDrawZGBuffer.fx RCDATA "PosteffectDrawZGBuffer.fx"
PosteffectDrawPosition.fx RCDATA "PosteffectDrawPosition.fx"
PosteffectDrawColor.fx RCDATA "PosteffectDrawColor.fx"
PosteffectDrawNormal.fx RCDATA "PosteffectDrawNormal.fx"
PosteffectDrawNormalSS.fx RCDATA "PosteffectDrawNormalSS.fx"
PosteffectEdgeAA.fx RCDATA "PosteffectEdgeAA.fx"
PosteffectGaussianBlur.fx RCDATA "PosteffectGaussianBlur.fx"
PosteffectUnsharpMasking.fx RCDATA "PosteffectUnsharpMasking.fx"
PosteffectFog.fx RCDATA "PosteffectFog.fx"
PosteffectMotionBlur.fx RCDATA "PosteffectMotionBlur.fx"
PosteffectToon.fx RCDATA "PosteffectToon.fx"
PosteffectSSAO.fx RCDATA "PosteffectSSAO.fx"
PosteffectVBAO.fx RCDATA "PosteffectVBAO.fx"
PosteffectHBAO.fx RCDATA "PosteffectHBAO.fx"
PosteffectMultiply.fx RCDATA "PosteffectMultiply.fx"
PosteffectBoxBlur.fx RCDATA "PosteffectBoxBlur.fx"
PosteffectZDifferenceBlur.fx RCDATA "PosteffectZDifferenceBlur.fx"
PosteffectZDifference.fx RCDATA "PosteffectZDifference.fx"
PosteffectBlackBorder.fx RCDATA "PosteffectBlackBorder.fx"
PosteffectSSR.fx RCDATA "PosteffectSSR.fx"
PosteffectDistortion.fx RCDATA "PosteffectDistortion.fx"
Particleshader.fx RCDATA "Particleshader.fx"
PosteffectDrawParticleBuffer.fx RCDATA "PosteffectDrawParticleBuffer.fx"
ParticleDeferredDirectionalAmbientLight.fx RCDATA "ParticleDeferredDirectionalAmbientLight.fx"
ParticleToBackbuffer.fx RCDATA "ParticleToBackbuffer.fx"
ParticleDeferredPointLight.fx RCDATA "ParticleDeferredPointLight.fx"
DeferredSpotLight.fx RCDATA "DeferredSpotLight.fx"
ParticleDeferredSpotLight.fx RCDATA "ParticleDeferredSpotLight.fx"
ParticleVBAO.fx RCDATA "ParticleVBAO.fx"
ScreenToBackbufferWithAlpha.fx RCDATA "ScreenToBackbufferWithAlpha.fx"
MakeShadowMask.fx RCDATA "MakeShadowMask.fx"
ShadowMapZShader.fx RCDATA "ShadowMapZShader.fx"
PosteffectDrawDepthBuffer.fx RCDATA "PosteffectDrawDepthBuffer.fx"
Shadowmapping.fx RCDATA "Shadowmapping.fx"
Watershader.fx RCDATA "Watershader.fx"
Metalshader.fx RCDATA "Metalshader.fx"
MatcapShader.fx RCDATA "MatcapShader.fx"
Vegetationshader.fx RCDATA "Vegetationshader.fx"
ForwardParticleShader.fx RCDATA "ForwardParticleShader.fx"
ForwardSoftParticleShader.fx RCDATA "ForwardSoftParticleShader.fx"
ParticleShadowShader.fx RCDATA "ParticleShadowShader.fx"
GUIBlur.fx RCDATA "GUIBlur.fx"
FXAA.fx RCDATA "FXAA.fx"
FurShader.fx RCDATA "FurShader.fx"
PosteffectBloom.fx RCDATA "PosteffectBloom.fx"
ForwardSoftParticleWithoutBackgroundShader.fx RCDATA "ForwardSoftParticleWithoutBackgroundShader.fx"
MeshOutline.fx RCDATA "MeshOutline.fx"
PosteffectColorCorrection.fx RCDATA "PosteffectColorCorrection.fx"
ForwardParticleShaderAlphaSubtraction.fx RCDATA "ForwardParticleShaderAlphaSubtraction.fx"
