$fa{
	Fontsize : 100%;
	FontWeight : 400;
	Fontfamily : fontawesome;
	Fontflags : [ffCenter,ffVerticalCenter];
}

$fa-500px:;
$fa-address-book:;
$fa-address-book-o:;
$fa-address-card:;
$fa-address-card-o:;
$fa-adjust:;
$fa-adn:;
$fa-align-center:;
$fa-align-justify:;
$fa-align-left:;
$fa-align-right:;
$fa-amazon:;
$fa-ambulance:;
$fa-american-sign-language-interpreting:;
$fa-anchor:;
$fa-android:;
$fa-angellist:;
$fa-angle-double-down:;
$fa-angle-double-left:;
$fa-angle-double-right:;
$fa-angle-double-up:;
$fa-angle-down:;
$fa-angle-left:;
$fa-angle-right:;
$fa-angle-up:;
$fa-apple:;
$fa-archive:;
$fa-area-chart:;
$fa-arrow-circle-down:;
$fa-arrow-circle-left:;
$fa-arrow-circle-o-down:;
$fa-arrow-circle-o-left:;
$fa-arrow-circle-o-right:;
$fa-arrow-circle-o-up:;
$fa-arrow-circle-right:;
$fa-arrow-circle-up:;
$fa-arrow-down:;
$fa-arrow-left:;
$fa-arrow-right:;
$fa-arrow-up:;
$fa-arrows:;
$fa-arrows-alt:;
$fa-arrows-h:;
$fa-arrows-v:;
$fa-asl-interpreting:;
$fa-assistive-listening-systems:;
$fa-asterisk:;
$fa-at:;
$fa-audio-description:;
$fa-automobile:;
$fa-backward:;
$fa-balance-scale:;
$fa-ban:;
$fa-bandcamp:;
$fa-bank:;
$fa-bar-chart:;
$fa-bar-chart-o:;
$fa-barcode:;
$fa-bars:;
$fa-bath:;
$fa-bathtub:;
$fa-battery:;
$fa-battery-0:;
$fa-battery-1:;
$fa-battery-2:;
$fa-battery-3:;
$fa-battery-4:;
$fa-battery-empty:;
$fa-battery-full:;
$fa-battery-half:;
$fa-battery-quarter:;
$fa-battery-three-quarters:;
$fa-bed:;
$fa-beer:;
$fa-behance:;
$fa-behance-square:;
$fa-bell:;
$fa-bell-o:;
$fa-bell-slash:;
$fa-bell-slash-o:;
$fa-bicycle:;
$fa-binoculars:;
$fa-birthday-cake:;
$fa-bitbucket:;
$fa-bitbucket-square:;
$fa-bitcoin:;
$fa-black-tie:;
$fa-blind:;
$fa-bluetooth:;
$fa-bluetooth-b:;
$fa-bold:;
$fa-bolt:;
$fa-bomb:;
$fa-book:;
$fa-bookmark:;
$fa-bookmark-o:;
$fa-braille:;
$fa-briefcase:;
$fa-btc:;
$fa-bug:;
$fa-building:;
$fa-building-o:;
$fa-bullhorn:;
$fa-bullseye:;
$fa-bus:;
$fa-buysellads:;
$fa-cab:;
$fa-calculator:;
$fa-calendar:;
$fa-calendar-check-o:;
$fa-calendar-minus-o:;
$fa-calendar-o:;
$fa-calendar-plus-o:;
$fa-calendar-times-o:;
$fa-camera:;
$fa-camera-retro:;
$fa-car:;
$fa-caret-down:;
$fa-caret-left:;
$fa-caret-right:;
$fa-caret-square-o-down:;
$fa-caret-square-o-left:;
$fa-caret-square-o-right:;
$fa-caret-square-o-up:;
$fa-caret-up:;
$fa-cart-arrow-down:;
$fa-cart-plus:;
$fa-cc:;
$fa-cc-amex:;
$fa-cc-diners-club:;
$fa-cc-discover:;
$fa-cc-jcb:;
$fa-cc-mastercard:;
$fa-cc-paypal:;
$fa-cc-stripe:;
$fa-cc-visa:;
$fa-certificate:;
$fa-chain:;
$fa-chain-broken:;
$fa-check:;
$fa-check-circle:;
$fa-check-circle-o:;
$fa-check-square:;
$fa-check-square-o:;
$fa-chevron-circle-down:;
$fa-chevron-circle-left:;
$fa-chevron-circle-right:;
$fa-chevron-circle-up:;
$fa-chevron-down:;
$fa-chevron-left:;
$fa-chevron-right:;
$fa-chevron-up:;
$fa-child:;
$fa-chrome:;
$fa-circle:;
$fa-circle-o:;
$fa-circle-o-notch:;
$fa-circle-thin:;
$fa-clipboard:;
$fa-clock-o:;
$fa-clone:;
$fa-close:;
$fa-cloud:;
$fa-cloud-download:;
$fa-cloud-upload:;
$fa-cny:;
$fa-code:;
$fa-code-fork:;
$fa-codepen:;
$fa-codiepie:;
$fa-coffee:;
$fa-cog:;
$fa-cogs:;
$fa-columns:;
$fa-comment:;
$fa-comment-o:;
$fa-commenting:;
$fa-commenting-o:;
$fa-comments:;
$fa-comments-o:;
$fa-compass:;
$fa-compress:;
$fa-connectdevelop:;
$fa-contao:;
$fa-copy:;
$fa-copyright:;
$fa-creative-commons:;
$fa-credit-card:;
$fa-credit-card-alt:;
$fa-crop:;
$fa-crosshairs:;
$fa-css3:;
$fa-cube:;
$fa-cubes:;
$fa-cut:;
$fa-cutlery:;
$fa-dashboard:;
$fa-dashcube:;
$fa-database:;
$fa-deaf:;
$fa-deafness:;
$fa-dedent:;
$fa-delicious:;
$fa-desktop:;
$fa-deviantart:;
$fa-diamond:;
$fa-digg:;
$fa-dollar:;
$fa-dot-circle-o:;
$fa-download:;
$fa-dribbble:;
$fa-drivers-license:;
$fa-drivers-license-o:;
$fa-dropbox:;
$fa-drupal:;
$fa-edge:;
$fa-edit:;
$fa-eercast:;
$fa-eject:;
$fa-ellipsis-h:;
$fa-ellipsis-v:;
$fa-empire:;
$fa-envelope:;
$fa-envelope-o:;
$fa-envelope-open:;
$fa-envelope-open-o:;
$fa-envelope-square:;
$fa-envira:;
$fa-eraser:;
$fa-etsy:;
$fa-eur:;
$fa-euro:;
$fa-exchange:;
$fa-exclamation:;
$fa-exclamation-circle:;
$fa-exclamation-triangle:;
$fa-expand:;
$fa-expeditedssl:;
$fa-external-link:;
$fa-external-link-square:;
$fa-eye:;
$fa-eye-slash:;
$fa-eyedropper:;
$fa-fa:;
$fa-facebook:;
$fa-facebook-f:;
$fa-facebook-official:;
$fa-facebook-square:;
$fa-fast-backward:;
$fa-fast-forward:;
$fa-fax:;
$fa-feed:;
$fa-female:;
$fa-fighter-jet:;
$fa-file:;
$fa-file-archive-o:;
$fa-file-audio-o:;
$fa-file-code-o:;
$fa-file-excel-o:;
$fa-file-image-o:;
$fa-file-movie-o:;
$fa-file-o:;
$fa-file-pdf-o:;
$fa-file-photo-o:;
$fa-file-picture-o:;
$fa-file-powerpoint-o:;
$fa-file-sound-o:;
$fa-file-text:;
$fa-file-text-o:;
$fa-file-video-o:;
$fa-file-word-o:;
$fa-file-zip-o:;
$fa-files-o:;
$fa-film:;
$fa-filter:;
$fa-fire:;
$fa-fire-extinguisher:;
$fa-firefox:;
$fa-first-order:;
$fa-flag:;
$fa-flag-checkered:;
$fa-flag-o:;
$fa-flash:;
$fa-flask:;
$fa-flickr:;
$fa-floppy-o:;
$fa-folder:;
$fa-folder-o:;
$fa-folder-open:;
$fa-folder-open-o:;
$fa-font:;
$fa-font-awesome:;
$fa-fonticons:;
$fa-fort-awesome:;
$fa-forumbee:;
$fa-forward:;
$fa-foursquare:;
$fa-free-code-camp:;
$fa-frown-o:;
$fa-futbol-o:;
$fa-gamepad:;
$fa-gavel:;
$fa-gbp:;
$fa-ge:;
$fa-gear:;
$fa-gears:;
$fa-genderless:;
$fa-get-pocket:;
$fa-gg:;
$fa-gg-circle:;
$fa-gift:;
$fa-git:;
$fa-git-square:;
$fa-github:;
$fa-github-alt:;
$fa-github-square:;
$fa-gitlab:;
$fa-gittip:;
$fa-glass:;
$fa-glide:;
$fa-glide-g:;
$fa-globe:;
$fa-google:;
$fa-google-plus:;
$fa-google-plus-circle:;
$fa-google-plus-official:;
$fa-google-plus-square:;
$fa-google-wallet:;
$fa-graduation-cap:;
$fa-gratipay:;
$fa-grav:;
$fa-group:;
$fa-h-square:;
$fa-hacker-news:;
$fa-hand-grab-o:;
$fa-hand-lizard-o:;
$fa-hand-o-down:;
$fa-hand-o-left:;
$fa-hand-o-right:;
$fa-hand-o-up:;
$fa-hand-paper-o:;
$fa-hand-peace-o:;
$fa-hand-pointer-o:;
$fa-hand-rock-o:;
$fa-hand-scissors-o:;
$fa-hand-spock-o:;
$fa-hand-stop-o:;
$fa-handshake-o:;
$fa-hard-of-hearing:;
$fa-hashtag:;
$fa-hdd-o:;
$fa-header:;
$fa-headphones:;
$fa-heart:;
$fa-heart-o:;
$fa-heartbeat:;
$fa-history:;
$fa-home:;
$fa-hospital-o:;
$fa-hotel:;
$fa-hourglass:;
$fa-hourglass-1:;
$fa-hourglass-2:;
$fa-hourglass-3:;
$fa-hourglass-end:;
$fa-hourglass-half:;
$fa-hourglass-o:;
$fa-hourglass-start:;
$fa-houzz:;
$fa-html5:;
$fa-i-cursor:;
$fa-id-badge:;
$fa-id-card:;
$fa-id-card-o:;
$fa-ils:;
$fa-image:;
$fa-imdb:;
$fa-inbox:;
$fa-indent:;
$fa-industry:;
$fa-info:;
$fa-info-circle:;
$fa-inr:;
$fa-instagram:;
$fa-institution:;
$fa-internet-explorer:;
$fa-intersex:;
$fa-ioxhost:;
$fa-italic:;
$fa-joomla:;
$fa-jpy:;
$fa-jsfiddle:;
$fa-key:;
$fa-keyboard-o:;
$fa-krw:;
$fa-language:;
$fa-laptop:;
$fa-lastfm:;
$fa-lastfm-square:;
$fa-leaf:;
$fa-leanpub:;
$fa-legal:;
$fa-lemon-o:;
$fa-level-down:;
$fa-level-up:;
$fa-life-bouy:;
$fa-life-buoy:;
$fa-life-ring:;
$fa-life-saver:;
$fa-lightbulb-o:;
$fa-line-chart:;
$fa-link:;
$fa-linkedin:;
$fa-linkedin-square:;
$fa-linode:;
$fa-linux:;
$fa-list:;
$fa-list-alt:;
$fa-list-ol:;
$fa-list-ul:;
$fa-location-arrow:;
$fa-lock:;
$fa-long-arrow-down:;
$fa-long-arrow-left:;
$fa-long-arrow-right:;
$fa-long-arrow-up:;
$fa-low-vision:;
$fa-magic:;
$fa-magnet:;
$fa-mail-forward:;
$fa-mail-reply:;
$fa-mail-reply-all:;
$fa-male:;
$fa-map:;
$fa-map-marker:;
$fa-map-o:;
$fa-map-pin:;
$fa-map-signs:;
$fa-mars:;
$fa-mars-double:;
$fa-mars-stroke:;
$fa-mars-stroke-h:;
$fa-mars-stroke-v:;
$fa-maxcdn:;
$fa-meanpath:;
$fa-medium:;
$fa-medkit:;
$fa-meetup:;
$fa-meh-o:;
$fa-mercury:;
$fa-microchip:;
$fa-microphone:;
$fa-microphone-slash:;
$fa-minus:;
$fa-minus-circle:;
$fa-minus-square:;
$fa-minus-square-o:;
$fa-mixcloud:;
$fa-mobile:;
$fa-mobile-phone:;
$fa-modx:;
$fa-money:;
$fa-moon-o:;
$fa-mortar-board:;
$fa-motorcycle:;
$fa-mouse-pointer:;
$fa-music:;
$fa-navicon:;
$fa-neuter:;
$fa-newspaper-o:;
$fa-object-group:;
$fa-object-ungroup:;
$fa-odnoklassniki:;
$fa-odnoklassniki-square:;
$fa-opencart:;
$fa-openid:;
$fa-opera:;
$fa-optin-monster:;
$fa-outdent:;
$fa-pagelines:;
$fa-paint-brush:;
$fa-paper-plane:;
$fa-paper-plane-o:;
$fa-paperclip:;
$fa-paragraph:;
$fa-paste:;
$fa-pause:;
$fa-pause-circle:;
$fa-pause-circle-o:;
$fa-paw:;
$fa-paypal:;
$fa-pencil:;
$fa-pencil-square:;
$fa-pencil-square-o:;
$fa-percent:;
$fa-phone:;
$fa-phone-square:;
$fa-photo:;
$fa-picture-o:;
$fa-pie-chart:;
$fa-pied-piper:;
$fa-pied-piper-alt:;
$fa-pied-piper-pp:;
$fa-pinterest:;
$fa-pinterest-p:;
$fa-pinterest-square:;
$fa-plane:;
$fa-play:;
$fa-play-circle:;
$fa-play-circle-o:;
$fa-plug:;
$fa-plus:;
$fa-plus-circle:;
$fa-plus-square:;
$fa-plus-square-o:;
$fa-podcast:;
$fa-power-off:;
$fa-print:;
$fa-product-hunt:;
$fa-puzzle-piece:;
$fa-qq:;
$fa-qrcode:;
$fa-question:;
$fa-question-circle:;
$fa-question-circle-o:;
$fa-quora:;
$fa-quote-left:;
$fa-quote-right:;
$fa-ra:;
$fa-random:;
$fa-ravelry:;
$fa-rebel:;
$fa-recycle:;
$fa-reddit:;
$fa-reddit-alien:;
$fa-reddit-square:;
$fa-refresh:;
$fa-registered:;
$fa-remove:;
$fa-renren:;
$fa-reorder:;
$fa-repeat:;
$fa-reply:;
$fa-reply-all:;
$fa-resistance:;
$fa-retweet:;
$fa-rmb:;
$fa-road:;
$fa-rocket:;
$fa-rotate-left:;
$fa-rotate-right:;
$fa-rouble:;
$fa-rss:;
$fa-rss-square:;
$fa-rub:;
$fa-ruble:;
$fa-rupee:;
$fa-s15:;
$fa-safari:;
$fa-save:;
$fa-scissors:;
$fa-scribd:;
$fa-search:;
$fa-search-minus:;
$fa-search-plus:;
$fa-sellsy:;
$fa-send:;
$fa-send-o:;
$fa-server:;
$fa-share:;
$fa-share-alt:;
$fa-share-alt-square:;
$fa-share-square:;
$fa-share-square-o:;
$fa-shekel:;
$fa-sheqel:;
$fa-shield:;
$fa-ship:;
$fa-shirtsinbulk:;
$fa-shopping-bag:;
$fa-shopping-basket:;
$fa-shopping-cart:;
$fa-shower:;
$fa-sign-in:;
$fa-sign-language:;
$fa-sign-out:;
$fa-signal:;
$fa-signing:;
$fa-simplybuilt:;
$fa-sitemap:;
$fa-skyatlas:;
$fa-skype:;
$fa-slack:;
$fa-sliders:;
$fa-slideshare:;
$fa-smile-o:;
$fa-snapchat:;
$fa-snapchat-ghost:;
$fa-snapchat-square:;
$fa-snowflake-o:;
$fa-soccer-ball-o:;
$fa-sort:;
$fa-sort-alpha-asc:;
$fa-sort-alpha-desc:;
$fa-sort-amount-asc:;
$fa-sort-amount-desc:;
$fa-sort-asc:;
$fa-sort-desc:;
$fa-sort-down:;
$fa-sort-numeric-asc:;
$fa-sort-numeric-desc:;
$fa-sort-up:;
$fa-soundcloud:;
$fa-space-shuttle:;
$fa-spinner:;
$fa-spoon:;
$fa-spotify:;
$fa-square:;
$fa-square-o:;
$fa-stack-exchange:;
$fa-stack-overflow:;
$fa-star:;
$fa-star-half:;
$fa-star-half-empty:;
$fa-star-half-full:;
$fa-star-half-o:;
$fa-star-o:;
$fa-steam:;
$fa-steam-square:;
$fa-step-backward:;
$fa-step-forward:;
$fa-stethoscope:;
$fa-sticky-note:;
$fa-sticky-note-o:;
$fa-stop:;
$fa-stop-circle:;
$fa-stop-circle-o:;
$fa-street-view:;
$fa-strikethrough:;
$fa-stumbleupon:;
$fa-stumbleupon-circle:;
$fa-subscript:;
$fa-subway:;
$fa-suitcase:;
$fa-sun-o:;
$fa-superpowers:;
$fa-superscript:;
$fa-support:;
$fa-table:;
$fa-tablet:;
$fa-tachometer:;
$fa-tag:;
$fa-tags:;
$fa-tasks:;
$fa-taxi:;
$fa-telegram:;
$fa-television:;
$fa-tencent-weibo:;
$fa-terminal:;
$fa-text-height:;
$fa-text-width:;
$fa-th:;
$fa-th-large:;
$fa-th-list:;
$fa-themeisle:;
$fa-thermometer:;
$fa-thermometer-0:;
$fa-thermometer-1:;
$fa-thermometer-2:;
$fa-thermometer-3:;
$fa-thermometer-4:;
$fa-thermometer-empty:;
$fa-thermometer-full:;
$fa-thermometer-half:;
$fa-thermometer-quarter:;
$fa-thermometer-three-quarters:;
$fa-thumb-tack:;
$fa-thumbs-down:;
$fa-thumbs-o-down:;
$fa-thumbs-o-up:;
$fa-thumbs-up:;
$fa-ticket:;
$fa-times:;
$fa-times-circle:;
$fa-times-circle-o:;
$fa-times-rectangle:;
$fa-times-rectangle-o:;
$fa-tint:;
$fa-toggle-down:;
$fa-toggle-left:;
$fa-toggle-off:;
$fa-toggle-on:;
$fa-toggle-right:;
$fa-toggle-up:;
$fa-trademark:;
$fa-train:;
$fa-transgender:;
$fa-transgender-alt:;
$fa-trash:;
$fa-trash-o:;
$fa-tree:;
$fa-trello:;
$fa-tripadvisor:;
$fa-trophy:;
$fa-truck:;
$fa-try:;
$fa-tty:;
$fa-tumblr:;
$fa-tumblr-square:;
$fa-turkish-lira:;
$fa-tv:;
$fa-twitch:;
$fa-twitter:;
$fa-twitter-square:;
$fa-umbrella:;
$fa-underline:;
$fa-undo:;
$fa-universal-access:;
$fa-university:;
$fa-unlink:;
$fa-unlock:;
$fa-unlock-alt:;
$fa-unsorted:;
$fa-upload:;
$fa-usb:;
$fa-usd:;
$fa-user:;
$fa-user-circle:;
$fa-user-circle-o:;
$fa-user-md:;
$fa-user-o:;
$fa-user-plus:;
$fa-user-secret:;
$fa-user-times:;
$fa-users:;
$fa-vcard:;
$fa-vcard-o:;
$fa-venus:;
$fa-venus-double:;
$fa-venus-mars:;
$fa-viacoin:;
$fa-viadeo:;
$fa-viadeo-square:;
$fa-video-camera:;
$fa-vimeo:;
$fa-vimeo-square:;
$fa-vine:;
$fa-vk:;
$fa-volume-control-phone:;
$fa-volume-down:;
$fa-volume-off:;
$fa-volume-up:;
$fa-warning:;
$fa-wechat:;
$fa-weibo:;
$fa-weixin:;
$fa-whatsapp:;
$fa-wheelchair:;
$fa-wheelchair-alt:;
$fa-wifi:;
$fa-wikipedia-w:;
$fa-window-close:;
$fa-window-close-o:;
$fa-window-maximize:;
$fa-window-minimize:;
$fa-window-restore:;
$fa-windows:;
$fa-won:;
$fa-wordpress:;
$fa-wpbeginner:;
$fa-wpexplorer:;
$fa-wpforms:;
$fa-wrench:;
$fa-xing:;
$fa-xing-square:;
$fa-y-combinator:;
$fa-y-combinator-square:;
$fa-yahoo:;
$fa-yc:;
$fa-yc-square:;
$fa-yelp:;
$fa-yen:;
$fa-yoast:;
$fa-youtube:;
$fa-youtube-play:;
$fa-youtube-square:; 

.fa{
	$fa;
}

.fa-500px{
	DefaultText : $fa-500px;
}

.fa-address-book{
	DefaultText : $fa-address-book;
}

.fa-address-book-o{
	DefaultText : $fa-address-book-o;
}

.fa-address-card{
	DefaultText : $fa-address-card;
}

.fa-address-card-o{
	DefaultText : $fa-address-card-o;
}

.fa-adjust{
	DefaultText : $fa-adjust;
}

.fa-adn{
	DefaultText : $fa-adn;
}

.fa-align-center{
	DefaultText : $fa-align-center;
}

.fa-align-justify{
	DefaultText : $fa-align-justify;
}

.fa-align-left{
	DefaultText : $fa-align-left;
}

.fa-align-right{
	DefaultText : $fa-align-right;
}

.fa-amazon{
	DefaultText : $fa-amazon;
}

.fa-ambulance{
	DefaultText : $fa-ambulance;
}

.fa-american-sign-language-interpreting{
	DefaultText : $fa-american-sign-language-interpreting;
}

.fa-anchor{
	DefaultText : $fa-anchor;
}

.fa-android{
	DefaultText : $fa-android;
}

.fa-angellist{
	DefaultText : $fa-angellist;
}

.fa-angle-double-down{
	DefaultText : $fa-angle-double-down;
}

.fa-angle-double-left{
	DefaultText : $fa-angle-double-left;
}

.fa-angle-double-right{
	DefaultText : $fa-angle-double-right;
}

.fa-angle-double-up{
	DefaultText : $fa-angle-double-up;
}

.fa-angle-down{
	DefaultText : $fa-angle-down;
}

.fa-angle-left{
	DefaultText : $fa-angle-left;
}

.fa-angle-right{
	DefaultText : $fa-angle-right;
}

.fa-angle-up{
	DefaultText : $fa-angle-up;
}

.fa-apple{
	DefaultText : $fa-apple;
}

.fa-archive{
	DefaultText : $fa-archive;
}

.fa-area-chart{
	DefaultText : $fa-area-chart;
}

.fa-arrow-circle-down{
	DefaultText : $fa-arrow-circle-down;
}

.fa-arrow-circle-left{
	DefaultText : $fa-arrow-circle-left;
}

.fa-arrow-circle-o-down{
	DefaultText : $fa-arrow-circle-o-down;
}

.fa-arrow-circle-o-left{
	DefaultText : $fa-arrow-circle-o-left;
}

.fa-arrow-circle-o-right{
	DefaultText : $fa-arrow-circle-o-right;
}

.fa-arrow-circle-o-up{
	DefaultText : $fa-arrow-circle-o-up;
}

.fa-arrow-circle-right{
	DefaultText : $fa-arrow-circle-right;
}

.fa-arrow-circle-up{
	DefaultText : $fa-arrow-circle-up;
}

.fa-arrow-down{
	DefaultText : $fa-arrow-down;
}

.fa-arrow-left{
	DefaultText : $fa-arrow-left;
}

.fa-arrow-right{
	DefaultText : $fa-arrow-right;
}

.fa-arrow-up{
	DefaultText : $fa-arrow-up;
}

.fa-arrows{
	DefaultText : $fa-arrows;
}

.fa-arrows-alt{
	DefaultText : $fa-arrows-alt;
}

.fa-arrows-h{
	DefaultText : $fa-arrows-h;
}

.fa-arrows-v{
	DefaultText : $fa-arrows-v;
}

.fa-asl-interpreting{
	DefaultText : $fa-asl-interpreting;
}

.fa-assistive-listening-systems{
	DefaultText : $fa-assistive-listening-systems;
}

.fa-asterisk{
	DefaultText : $fa-asterisk;
}

.fa-at{
	DefaultText : $fa-at;
}

.fa-audio-description{
	DefaultText : $fa-audio-description;
}

.fa-automobile{
	DefaultText : $fa-automobile;
}

.fa-backward{
	DefaultText : $fa-backward;
}

.fa-balance-scale{
	DefaultText : $fa-balance-scale;
}

.fa-ban{
	DefaultText : $fa-ban;
}

.fa-bandcamp{
	DefaultText : $fa-bandcamp;
}

.fa-bank{
	DefaultText : $fa-bank;
}

.fa-bar-chart{
	DefaultText : $fa-bar-chart;
}

.fa-bar-chart-o{
	DefaultText : $fa-bar-chart-o;
}

.fa-barcode{
	DefaultText : $fa-barcode;
}

.fa-bars{
	DefaultText : $fa-bars;
}

.fa-bath{
	DefaultText : $fa-bath;
}

.fa-bathtub{
	DefaultText : $fa-bathtub;
}

.fa-battery{
	DefaultText : $fa-battery;
}

.fa-battery-0{
	DefaultText : $fa-battery-0;
}

.fa-battery-1{
	DefaultText : $fa-battery-1;
}

.fa-battery-2{
	DefaultText : $fa-battery-2;
}

.fa-battery-3{
	DefaultText : $fa-battery-3;
}

.fa-battery-4{
	DefaultText : $fa-battery-4;
}

.fa-battery-empty{
	DefaultText : $fa-battery-empty;
}

.fa-battery-full{
	DefaultText : $fa-battery-full;
}

.fa-battery-half{
	DefaultText : $fa-battery-half;
}

.fa-battery-quarter{
	DefaultText : $fa-battery-quarter;
}

.fa-battery-three-quarters{
	DefaultText : $fa-battery-three-quarters;
}

.fa-bed{
	DefaultText : $fa-bed;
}

.fa-beer{
	DefaultText : $fa-beer;
}

.fa-behance{
	DefaultText : $fa-behance;
}

.fa-behance-square{
	DefaultText : $fa-behance-square;
}

.fa-bell{
	DefaultText : $fa-bell;
}

.fa-bell-o{
	DefaultText : $fa-bell-o;
}

.fa-bell-slash{
	DefaultText : $fa-bell-slash;
}

.fa-bell-slash-o{
	DefaultText : $fa-bell-slash-o;
}

.fa-bicycle{
	DefaultText : $fa-bicycle;
}

.fa-binoculars{
	DefaultText : $fa-binoculars;
}

.fa-birthday-cake{
	DefaultText : $fa-birthday-cake;
}

.fa-bitbucket{
	DefaultText : $fa-bitbucket;
}

.fa-bitbucket-square{
	DefaultText : $fa-bitbucket-square;
}

.fa-bitcoin{
	DefaultText : $fa-bitcoin;
}

.fa-black-tie{
	DefaultText : $fa-black-tie;
}

.fa-blind{
	DefaultText : $fa-blind;
}

.fa-bluetooth{
	DefaultText : $fa-bluetooth;
}

.fa-bluetooth-b{
	DefaultText : $fa-bluetooth-b;
}

.fa-bold{
	DefaultText : $fa-bold;
}

.fa-bolt{
	DefaultText : $fa-bolt;
}

.fa-bomb{
	DefaultText : $fa-bomb;
}

.fa-book{
	DefaultText : $fa-book;
}

.fa-bookmark{
	DefaultText : $fa-bookmark;
}

.fa-bookmark-o{
	DefaultText : $fa-bookmark-o;
}

.fa-braille{
	DefaultText : $fa-braille;
}

.fa-briefcase{
	DefaultText : $fa-briefcase;
}

.fa-btc{
	DefaultText : $fa-btc;
}

.fa-bug{
	DefaultText : $fa-bug;
}

.fa-building{
	DefaultText : $fa-building;
}

.fa-building-o{
	DefaultText : $fa-building-o;
}

.fa-bullhorn{
	DefaultText : $fa-bullhorn;
}

.fa-bullseye{
	DefaultText : $fa-bullseye;
}

.fa-bus{
	DefaultText : $fa-bus;
}

.fa-buysellads{
	DefaultText : $fa-buysellads;
}

.fa-cab{
	DefaultText : $fa-cab;
}

.fa-calculator{
	DefaultText : $fa-calculator;
}

.fa-calendar{
	DefaultText : $fa-calendar;
}

.fa-calendar-check-o{
	DefaultText : $fa-calendar-check-o;
}

.fa-calendar-minus-o{
	DefaultText : $fa-calendar-minus-o;
}

.fa-calendar-o{
	DefaultText : $fa-calendar-o;
}

.fa-calendar-plus-o{
	DefaultText : $fa-calendar-plus-o;
}

.fa-calendar-times-o{
	DefaultText : $fa-calendar-times-o;
}

.fa-camera{
	DefaultText : $fa-camera;
}

.fa-camera-retro{
	DefaultText : $fa-camera-retro;
}

.fa-car{
	DefaultText : $fa-car;
}

.fa-caret-down{
	DefaultText : $fa-caret-down;
}

.fa-caret-left{
	DefaultText : $fa-caret-left;
}

.fa-caret-right{
	DefaultText : $fa-caret-right;
}

.fa-caret-square-o-down{
	DefaultText : $fa-caret-square-o-down;
}

.fa-caret-square-o-left{
	DefaultText : $fa-caret-square-o-left;
}

.fa-caret-square-o-right{
	DefaultText : $fa-caret-square-o-right;
}

.fa-caret-square-o-up{
	DefaultText : $fa-caret-square-o-up;
}

.fa-caret-up{
	DefaultText : $fa-caret-up;
}

.fa-cart-arrow-down{
	DefaultText : $fa-cart-arrow-down;
}

.fa-cart-plus{
	DefaultText : $fa-cart-plus;
}

.fa-cc{
	DefaultText : $fa-cc;
}

.fa-cc-amex{
	DefaultText : $fa-cc-amex;
}

.fa-cc-diners-club{
	DefaultText : $fa-cc-diners-club;
}

.fa-cc-discover{
	DefaultText : $fa-cc-discover;
}

.fa-cc-jcb{
	DefaultText : $fa-cc-jcb;
}

.fa-cc-mastercard{
	DefaultText : $fa-cc-mastercard;
}

.fa-cc-paypal{
	DefaultText : $fa-cc-paypal;
}

.fa-cc-stripe{
	DefaultText : $fa-cc-stripe;
}

.fa-cc-visa{
	DefaultText : $fa-cc-visa;
}

.fa-certificate{
	DefaultText : $fa-certificate;
}

.fa-chain{
	DefaultText : $fa-chain;
}

.fa-chain-broken{
	DefaultText : $fa-chain-broken;
}

.fa-check{
	DefaultText : $fa-check;
}

.fa-check-circle{
	DefaultText : $fa-check-circle;
}

.fa-check-circle-o{
	DefaultText : $fa-check-circle-o;
}

.fa-check-square{
	DefaultText : $fa-check-square;
}

.fa-check-square-o{
	DefaultText : $fa-check-square-o;
}

.fa-chevron-circle-down{
	DefaultText : $fa-chevron-circle-down;
}

.fa-chevron-circle-left{
	DefaultText : $fa-chevron-circle-left;
}

.fa-chevron-circle-right{
	DefaultText : $fa-chevron-circle-right;
}

.fa-chevron-circle-up{
	DefaultText : $fa-chevron-circle-up;
}

.fa-chevron-down{
	DefaultText : $fa-chevron-down;
}

.fa-chevron-left{
	DefaultText : $fa-chevron-left;
}

.fa-chevron-right{
	DefaultText : $fa-chevron-right;
}

.fa-chevron-up{
	DefaultText : $fa-chevron-up;
}

.fa-child{
	DefaultText : $fa-child;
}

.fa-chrome{
	DefaultText : $fa-chrome;
}

.fa-circle{
	DefaultText : $fa-circle;
}

.fa-circle-o{
	DefaultText : $fa-circle-o;
}

.fa-circle-o-notch{
	DefaultText : $fa-circle-o-notch;
}

.fa-circle-thin{
	DefaultText : $fa-circle-thin;
}

.fa-clipboard{
	DefaultText : $fa-clipboard;
}

.fa-clock-o{
	DefaultText : $fa-clock-o;
}

.fa-clone{
	DefaultText : $fa-clone;
}

.fa-close{
	DefaultText : $fa-close;
}

.fa-cloud{
	DefaultText : $fa-cloud;
}

.fa-cloud-download{
	DefaultText : $fa-cloud-download;
}

.fa-cloud-upload{
	DefaultText : $fa-cloud-upload;
}

.fa-cny{
	DefaultText : $fa-cny;
}

.fa-code{
	DefaultText : $fa-code;
}

.fa-code-fork{
	DefaultText : $fa-code-fork;
}

.fa-codepen{
	DefaultText : $fa-codepen;
}

.fa-codiepie{
	DefaultText : $fa-codiepie;
}

.fa-coffee{
	DefaultText : $fa-coffee;
}

.fa-cog{
	DefaultText : $fa-cog;
}

.fa-cogs{
	DefaultText : $fa-cogs;
}

.fa-columns{
	DefaultText : $fa-columns;
}

.fa-comment{
	DefaultText : $fa-comment;
}

.fa-comment-o{
	DefaultText : $fa-comment-o;
}

.fa-commenting{
	DefaultText : $fa-commenting;
}

.fa-commenting-o{
	DefaultText : $fa-commenting-o;
}

.fa-comments{
	DefaultText : $fa-comments;
}

.fa-comments-o{
	DefaultText : $fa-comments-o;
}

.fa-compass{
	DefaultText : $fa-compass;
}

.fa-compress{
	DefaultText : $fa-compress;
}

.fa-connectdevelop{
	DefaultText : $fa-connectdevelop;
}

.fa-contao{
	DefaultText : $fa-contao;
}

.fa-copy{
	DefaultText : $fa-copy;
}

.fa-copyright{
	DefaultText : $fa-copyright;
}

.fa-creative-commons{
	DefaultText : $fa-creative-commons;
}

.fa-credit-card{
	DefaultText : $fa-credit-card;
}

.fa-credit-card-alt{
	DefaultText : $fa-credit-card-alt;
}

.fa-crop{
	DefaultText : $fa-crop;
}

.fa-crosshairs{
	DefaultText : $fa-crosshairs;
}

.fa-css3{
	DefaultText : $fa-css3;
}

.fa-cube{
	DefaultText : $fa-cube;
}

.fa-cubes{
	DefaultText : $fa-cubes;
}

.fa-cut{
	DefaultText : $fa-cut;
}

.fa-cutlery{
	DefaultText : $fa-cutlery;
}

.fa-dashboard{
	DefaultText : $fa-dashboard;
}

.fa-dashcube{
	DefaultText : $fa-dashcube;
}

.fa-database{
	DefaultText : $fa-database;
}

.fa-deaf{
	DefaultText : $fa-deaf;
}

.fa-deafness{
	DefaultText : $fa-deafness;
}

.fa-dedent{
	DefaultText : $fa-dedent;
}

.fa-delicious{
	DefaultText : $fa-delicious;
}

.fa-desktop{
	DefaultText : $fa-desktop;
}

.fa-deviantart{
	DefaultText : $fa-deviantart;
}

.fa-diamond{
	DefaultText : $fa-diamond;
}

.fa-digg{
	DefaultText : $fa-digg;
}

.fa-dollar{
	DefaultText : $fa-dollar;
}

.fa-dot-circle-o{
	DefaultText : $fa-dot-circle-o;
}

.fa-download{
	DefaultText : $fa-download;
}

.fa-dribbble{
	DefaultText : $fa-dribbble;
}

.fa-drivers-license{
	DefaultText : $fa-drivers-license;
}

.fa-drivers-license-o{
	DefaultText : $fa-drivers-license-o;
}

.fa-dropbox{
	DefaultText : $fa-dropbox;
}

.fa-drupal{
	DefaultText : $fa-drupal;
}

.fa-edge{
	DefaultText : $fa-edge;
}

.fa-edit{
	DefaultText : $fa-edit;
}

.fa-eercast{
	DefaultText : $fa-eercast;
}

.fa-eject{
	DefaultText : $fa-eject;
}

.fa-ellipsis-h{
	DefaultText : $fa-ellipsis-h;
}

.fa-ellipsis-v{
	DefaultText : $fa-ellipsis-v;
}

.fa-empire{
	DefaultText : $fa-empire;
}

.fa-envelope{
	DefaultText : $fa-envelope;
}

.fa-envelope-o{
	DefaultText : $fa-envelope-o;
}

.fa-envelope-open{
	DefaultText : $fa-envelope-open;
}

.fa-envelope-open-o{
	DefaultText : $fa-envelope-open-o;
}

.fa-envelope-square{
	DefaultText : $fa-envelope-square;
}

.fa-envira{
	DefaultText : $fa-envira;
}

.fa-eraser{
	DefaultText : $fa-eraser;
}

.fa-etsy{
	DefaultText : $fa-etsy;
}

.fa-eur{
	DefaultText : $fa-eur;
}

.fa-euro{
	DefaultText : $fa-euro;
}

.fa-exchange{
	DefaultText : $fa-exchange;
}

.fa-exclamation{
	DefaultText : $fa-exclamation;
}

.fa-exclamation-circle{
	DefaultText : $fa-exclamation-circle;
}

.fa-exclamation-triangle{
	DefaultText : $fa-exclamation-triangle;
}

.fa-expand{
	DefaultText : $fa-expand;
}

.fa-expeditedssl{
	DefaultText : $fa-expeditedssl;
}

.fa-external-link{
	DefaultText : $fa-external-link;
}

.fa-external-link-square{
	DefaultText : $fa-external-link-square;
}

.fa-eye{
	DefaultText : $fa-eye;
}

.fa-eye-slash{
	DefaultText : $fa-eye-slash;
}

.fa-eyedropper{
	DefaultText : $fa-eyedropper;
}

.fa-fa{
	DefaultText : $fa-fa;
}

.fa-facebook{
	DefaultText : $fa-facebook;
}

.fa-facebook-f{
	DefaultText : $fa-facebook-f;
}

.fa-facebook-official{
	DefaultText : $fa-facebook-official;
}

.fa-facebook-square{
	DefaultText : $fa-facebook-square;
}

.fa-fast-backward{
	DefaultText : $fa-fast-backward;
}

.fa-fast-forward{
	DefaultText : $fa-fast-forward;
}

.fa-fax{
	DefaultText : $fa-fax;
}

.fa-feed{
	DefaultText : $fa-feed;
}

.fa-female{
	DefaultText : $fa-female;
}

.fa-fighter-jet{
	DefaultText : $fa-fighter-jet;
}

.fa-file{
	DefaultText : $fa-file;
}

.fa-file-archive-o{
	DefaultText : $fa-file-archive-o;
}

.fa-file-audio-o{
	DefaultText : $fa-file-audio-o;
}

.fa-file-code-o{
	DefaultText : $fa-file-code-o;
}

.fa-file-excel-o{
	DefaultText : $fa-file-excel-o;
}

.fa-file-image-o{
	DefaultText : $fa-file-image-o;
}

.fa-file-movie-o{
	DefaultText : $fa-file-movie-o;
}

.fa-file-o{
	DefaultText : $fa-file-o;
}

.fa-file-pdf-o{
	DefaultText : $fa-file-pdf-o;
}

.fa-file-photo-o{
	DefaultText : $fa-file-photo-o;
}

.fa-file-picture-o{
	DefaultText : $fa-file-picture-o;
}

.fa-file-powerpoint-o{
	DefaultText : $fa-file-powerpoint-o;
}

.fa-file-sound-o{
	DefaultText : $fa-file-sound-o;
}

.fa-file-text{
	DefaultText : $fa-file-text;
}

.fa-file-text-o{
	DefaultText : $fa-file-text-o;
}

.fa-file-video-o{
	DefaultText : $fa-file-video-o;
}

.fa-file-word-o{
	DefaultText : $fa-file-word-o;
}

.fa-file-zip-o{
	DefaultText : $fa-file-zip-o;
}

.fa-files-o{
	DefaultText : $fa-files-o;
}

.fa-film{
	DefaultText : $fa-film;
}

.fa-filter{
	DefaultText : $fa-filter;
}

.fa-fire{
	DefaultText : $fa-fire;
}

.fa-fire-extinguisher{
	DefaultText : $fa-fire-extinguisher;
}

.fa-firefox{
	DefaultText : $fa-firefox;
}

.fa-first-order{
	DefaultText : $fa-first-order;
}

.fa-flag{
	DefaultText : $fa-flag;
}

.fa-flag-checkered{
	DefaultText : $fa-flag-checkered;
}

.fa-flag-o{
	DefaultText : $fa-flag-o;
}

.fa-flash{
	DefaultText : $fa-flash;
}

.fa-flask{
	DefaultText : $fa-flask;
}

.fa-flickr{
	DefaultText : $fa-flickr;
}

.fa-floppy-o{
	DefaultText : $fa-floppy-o;
}

.fa-folder{
	DefaultText : $fa-folder;
}

.fa-folder-o{
	DefaultText : $fa-folder-o;
}

.fa-folder-open{
	DefaultText : $fa-folder-open;
}

.fa-folder-open-o{
	DefaultText : $fa-folder-open-o;
}

.fa-font{
	DefaultText : $fa-font;
}

.fa-font-awesome{
	DefaultText : $fa-font-awesome;
}

.fa-fonticons{
	DefaultText : $fa-fonticons;
}

.fa-fort-awesome{
	DefaultText : $fa-fort-awesome;
}

.fa-forumbee{
	DefaultText : $fa-forumbee;
}

.fa-forward{
	DefaultText : $fa-forward;
}

.fa-foursquare{
	DefaultText : $fa-foursquare;
}

.fa-free-code-camp{
	DefaultText : $fa-free-code-camp;
}

.fa-frown-o{
	DefaultText : $fa-frown-o;
}

.fa-futbol-o{
	DefaultText : $fa-futbol-o;
}

.fa-gamepad{
	DefaultText : $fa-gamepad;
}

.fa-gavel{
	DefaultText : $fa-gavel;
}

.fa-gbp{
	DefaultText : $fa-gbp;
}

.fa-ge{
	DefaultText : $fa-ge;
}

.fa-gear{
	DefaultText : $fa-gear;
}

.fa-gears{
	DefaultText : $fa-gears;
}

.fa-genderless{
	DefaultText : $fa-genderless;
}

.fa-get-pocket{
	DefaultText : $fa-get-pocket;
}

.fa-gg{
	DefaultText : $fa-gg;
}

.fa-gg-circle{
	DefaultText : $fa-gg-circle;
}

.fa-gift{
	DefaultText : $fa-gift;
}

.fa-git{
	DefaultText : $fa-git;
}

.fa-git-square{
	DefaultText : $fa-git-square;
}

.fa-github{
	DefaultText : $fa-github;
}

.fa-github-alt{
	DefaultText : $fa-github-alt;
}

.fa-github-square{
	DefaultText : $fa-github-square;
}

.fa-gitlab{
	DefaultText : $fa-gitlab;
}

.fa-gittip{
	DefaultText : $fa-gittip;
}

.fa-glass{
	DefaultText : $fa-glass;
}

.fa-glide{
	DefaultText : $fa-glide;
}

.fa-glide-g{
	DefaultText : $fa-glide-g;
}

.fa-globe{
	DefaultText : $fa-globe;
}

.fa-google{
	DefaultText : $fa-google;
}

.fa-google-plus{
	DefaultText : $fa-google-plus;
}

.fa-google-plus-circle{
	DefaultText : $fa-google-plus-circle;
}

.fa-google-plus-official{
	DefaultText : $fa-google-plus-official;
}

.fa-google-plus-square{
	DefaultText : $fa-google-plus-square;
}

.fa-google-wallet{
	DefaultText : $fa-google-wallet;
}

.fa-graduation-cap{
	DefaultText : $fa-graduation-cap;
}

.fa-gratipay{
	DefaultText : $fa-gratipay;
}

.fa-grav{
	DefaultText : $fa-grav;
}

.fa-group{
	DefaultText : $fa-group;
}

.fa-h-square{
	DefaultText : $fa-h-square;
}

.fa-hacker-news{
	DefaultText : $fa-hacker-news;
}

.fa-hand-grab-o{
	DefaultText : $fa-hand-grab-o;
}

.fa-hand-lizard-o{
	DefaultText : $fa-hand-lizard-o;
}

.fa-hand-o-down{
	DefaultText : $fa-hand-o-down;
}

.fa-hand-o-left{
	DefaultText : $fa-hand-o-left;
}

.fa-hand-o-right{
	DefaultText : $fa-hand-o-right;
}

.fa-hand-o-up{
	DefaultText : $fa-hand-o-up;
}

.fa-hand-paper-o{
	DefaultText : $fa-hand-paper-o;
}

.fa-hand-peace-o{
	DefaultText : $fa-hand-peace-o;
}

.fa-hand-pointer-o{
	DefaultText : $fa-hand-pointer-o;
}

.fa-hand-rock-o{
	DefaultText : $fa-hand-rock-o;
}

.fa-hand-scissors-o{
	DefaultText : $fa-hand-scissors-o;
}

.fa-hand-spock-o{
	DefaultText : $fa-hand-spock-o;
}

.fa-hand-stop-o{
	DefaultText : $fa-hand-stop-o;
}

.fa-handshake-o{
	DefaultText : $fa-handshake-o;
}

.fa-hard-of-hearing{
	DefaultText : $fa-hard-of-hearing;
}

.fa-hashtag{
	DefaultText : $fa-hashtag;
}

.fa-hdd-o{
	DefaultText : $fa-hdd-o;
}

.fa-header{
	DefaultText : $fa-header;
}

.fa-headphones{
	DefaultText : $fa-headphones;
}

.fa-heart{
	DefaultText : $fa-heart;
}

.fa-heart-o{
	DefaultText : $fa-heart-o;
}

.fa-heartbeat{
	DefaultText : $fa-heartbeat;
}

.fa-history{
	DefaultText : $fa-history;
}

.fa-home{
	DefaultText : $fa-home;
}

.fa-hospital-o{
	DefaultText : $fa-hospital-o;
}

.fa-hotel{
	DefaultText : $fa-hotel;
}

.fa-hourglass{
	DefaultText : $fa-hourglass;
}

.fa-hourglass-1{
	DefaultText : $fa-hourglass-1;
}

.fa-hourglass-2{
	DefaultText : $fa-hourglass-2;
}

.fa-hourglass-3{
	DefaultText : $fa-hourglass-3;
}

.fa-hourglass-end{
	DefaultText : $fa-hourglass-end;
}

.fa-hourglass-half{
	DefaultText : $fa-hourglass-half;
}

.fa-hourglass-o{
	DefaultText : $fa-hourglass-o;
}

.fa-hourglass-start{
	DefaultText : $fa-hourglass-start;
}

.fa-houzz{
	DefaultText : $fa-houzz;
}

.fa-html5{
	DefaultText : $fa-html5;
}

.fa-i-cursor{
	DefaultText : $fa-i-cursor;
}

.fa-id-badge{
	DefaultText : $fa-id-badge;
}

.fa-id-card{
	DefaultText : $fa-id-card;
}

.fa-id-card-o{
	DefaultText : $fa-id-card-o;
}

.fa-ils{
	DefaultText : $fa-ils;
}

.fa-image{
	DefaultText : $fa-image;
}

.fa-imdb{
	DefaultText : $fa-imdb;
}

.fa-inbox{
	DefaultText : $fa-inbox;
}

.fa-indent{
	DefaultText : $fa-indent;
}

.fa-industry{
	DefaultText : $fa-industry;
}

.fa-info{
	DefaultText : $fa-info;
}

.fa-info-circle{
	DefaultText : $fa-info-circle;
}

.fa-inr{
	DefaultText : $fa-inr;
}

.fa-instagram{
	DefaultText : $fa-instagram;
}

.fa-institution{
	DefaultText : $fa-institution;
}

.fa-internet-explorer{
	DefaultText : $fa-internet-explorer;
}

.fa-intersex{
	DefaultText : $fa-intersex;
}

.fa-ioxhost{
	DefaultText : $fa-ioxhost;
}

.fa-italic{
	DefaultText : $fa-italic;
}

.fa-joomla{
	DefaultText : $fa-joomla;
}

.fa-jpy{
	DefaultText : $fa-jpy;
}

.fa-jsfiddle{
	DefaultText : $fa-jsfiddle;
}

.fa-key{
	DefaultText : $fa-key;
}

.fa-keyboard-o{
	DefaultText : $fa-keyboard-o;
}

.fa-krw{
	DefaultText : $fa-krw;
}

.fa-language{
	DefaultText : $fa-language;
}

.fa-laptop{
	DefaultText : $fa-laptop;
}

.fa-lastfm{
	DefaultText : $fa-lastfm;
}

.fa-lastfm-square{
	DefaultText : $fa-lastfm-square;
}

.fa-leaf{
	DefaultText : $fa-leaf;
}

.fa-leanpub{
	DefaultText : $fa-leanpub;
}

.fa-legal{
	DefaultText : $fa-legal;
}

.fa-lemon-o{
	DefaultText : $fa-lemon-o;
}

.fa-level-down{
	DefaultText : $fa-level-down;
}

.fa-level-up{
	DefaultText : $fa-level-up;
}

.fa-life-bouy{
	DefaultText : $fa-life-bouy;
}

.fa-life-buoy{
	DefaultText : $fa-life-buoy;
}

.fa-life-ring{
	DefaultText : $fa-life-ring;
}

.fa-life-saver{
	DefaultText : $fa-life-saver;
}

.fa-lightbulb-o{
	DefaultText : $fa-lightbulb-o;
}

.fa-line-chart{
	DefaultText : $fa-line-chart;
}

.fa-link{
	DefaultText : $fa-link;
}

.fa-linkedin{
	DefaultText : $fa-linkedin;
}

.fa-linkedin-square{
	DefaultText : $fa-linkedin-square;
}

.fa-linode{
	DefaultText : $fa-linode;
}

.fa-linux{
	DefaultText : $fa-linux;
}

.fa-list{
	DefaultText : $fa-list;
}

.fa-list-alt{
	DefaultText : $fa-list-alt;
}

.fa-list-ol{
	DefaultText : $fa-list-ol;
}

.fa-list-ul{
	DefaultText : $fa-list-ul;
}

.fa-location-arrow{
	DefaultText : $fa-location-arrow;
}

.fa-lock{
	DefaultText : $fa-lock;
}

.fa-long-arrow-down{
	DefaultText : $fa-long-arrow-down;
}

.fa-long-arrow-left{
	DefaultText : $fa-long-arrow-left;
}

.fa-long-arrow-right{
	DefaultText : $fa-long-arrow-right;
}

.fa-long-arrow-up{
	DefaultText : $fa-long-arrow-up;
}

.fa-low-vision{
	DefaultText : $fa-low-vision;
}

.fa-magic{
	DefaultText : $fa-magic;
}

.fa-magnet{
	DefaultText : $fa-magnet;
}

.fa-mail-forward{
	DefaultText : $fa-mail-forward;
}

.fa-mail-reply{
	DefaultText : $fa-mail-reply;
}

.fa-mail-reply-all{
	DefaultText : $fa-mail-reply-all;
}

.fa-male{
	DefaultText : $fa-male;
}

.fa-map{
	DefaultText : $fa-map;
}

.fa-map-marker{
	DefaultText : $fa-map-marker;
}

.fa-map-o{
	DefaultText : $fa-map-o;
}

.fa-map-pin{
	DefaultText : $fa-map-pin;
}

.fa-map-signs{
	DefaultText : $fa-map-signs;
}

.fa-mars{
	DefaultText : $fa-mars;
}

.fa-mars-double{
	DefaultText : $fa-mars-double;
}

.fa-mars-stroke{
	DefaultText : $fa-mars-stroke;
}

.fa-mars-stroke-h{
	DefaultText : $fa-mars-stroke-h;
}

.fa-mars-stroke-v{
	DefaultText : $fa-mars-stroke-v;
}

.fa-maxcdn{
	DefaultText : $fa-maxcdn;
}

.fa-meanpath{
	DefaultText : $fa-meanpath;
}

.fa-medium{
	DefaultText : $fa-medium;
}

.fa-medkit{
	DefaultText : $fa-medkit;
}

.fa-meetup{
	DefaultText : $fa-meetup;
}

.fa-meh-o{
	DefaultText : $fa-meh-o;
}

.fa-mercury{
	DefaultText : $fa-mercury;
}

.fa-microchip{
	DefaultText : $fa-microchip;
}

.fa-microphone{
	DefaultText : $fa-microphone;
}

.fa-microphone-slash{
	DefaultText : $fa-microphone-slash;
}

.fa-minus{
	DefaultText : $fa-minus;
}

.fa-minus-circle{
	DefaultText : $fa-minus-circle;
}

.fa-minus-square{
	DefaultText : $fa-minus-square;
}

.fa-minus-square-o{
	DefaultText : $fa-minus-square-o;
}

.fa-mixcloud{
	DefaultText : $fa-mixcloud;
}

.fa-mobile{
	DefaultText : $fa-mobile;
}

.fa-mobile-phone{
	DefaultText : $fa-mobile-phone;
}

.fa-modx{
	DefaultText : $fa-modx;
}

.fa-money{
	DefaultText : $fa-money;
}

.fa-moon-o{
	DefaultText : $fa-moon-o;
}

.fa-mortar-board{
	DefaultText : $fa-mortar-board;
}

.fa-motorcycle{
	DefaultText : $fa-motorcycle;
}

.fa-mouse-pointer{
	DefaultText : $fa-mouse-pointer;
}

.fa-music{
	DefaultText : $fa-music;
}

.fa-navicon{
	DefaultText : $fa-navicon;
}

.fa-neuter{
	DefaultText : $fa-neuter;
}

.fa-newspaper-o{
	DefaultText : $fa-newspaper-o;
}

.fa-object-group{
	DefaultText : $fa-object-group;
}

.fa-object-ungroup{
	DefaultText : $fa-object-ungroup;
}

.fa-odnoklassniki{
	DefaultText : $fa-odnoklassniki;
}

.fa-odnoklassniki-square{
	DefaultText : $fa-odnoklassniki-square;
}

.fa-opencart{
	DefaultText : $fa-opencart;
}

.fa-openid{
	DefaultText : $fa-openid;
}

.fa-opera{
	DefaultText : $fa-opera;
}

.fa-optin-monster{
	DefaultText : $fa-optin-monster;
}

.fa-outdent{
	DefaultText : $fa-outdent;
}

.fa-pagelines{
	DefaultText : $fa-pagelines;
}

.fa-paint-brush{
	DefaultText : $fa-paint-brush;
}

.fa-paper-plane{
	DefaultText : $fa-paper-plane;
}

.fa-paper-plane-o{
	DefaultText : $fa-paper-plane-o;
}

.fa-paperclip{
	DefaultText : $fa-paperclip;
}

.fa-paragraph{
	DefaultText : $fa-paragraph;
}

.fa-paste{
	DefaultText : $fa-paste;
}

.fa-pause{
	DefaultText : $fa-pause;
}

.fa-pause-circle{
	DefaultText : $fa-pause-circle;
}

.fa-pause-circle-o{
	DefaultText : $fa-pause-circle-o;
}

.fa-paw{
	DefaultText : $fa-paw;
}

.fa-paypal{
	DefaultText : $fa-paypal;
}

.fa-pencil{
	DefaultText : $fa-pencil;
}

.fa-pencil-square{
	DefaultText : $fa-pencil-square;
}

.fa-pencil-square-o{
	DefaultText : $fa-pencil-square-o;
}

.fa-percent{
	DefaultText : $fa-percent;
}

.fa-phone{
	DefaultText : $fa-phone;
}

.fa-phone-square{
	DefaultText : $fa-phone-square;
}

.fa-photo{
	DefaultText : $fa-photo;
}

.fa-picture-o{
	DefaultText : $fa-picture-o;
}

.fa-pie-chart{
	DefaultText : $fa-pie-chart;
}

.fa-pied-piper{
	DefaultText : $fa-pied-piper;
}

.fa-pied-piper-alt{
	DefaultText : $fa-pied-piper-alt;
}

.fa-pied-piper-pp{
	DefaultText : $fa-pied-piper-pp;
}

.fa-pinterest{
	DefaultText : $fa-pinterest;
}

.fa-pinterest-p{
	DefaultText : $fa-pinterest-p;
}

.fa-pinterest-square{
	DefaultText : $fa-pinterest-square;
}

.fa-plane{
	DefaultText : $fa-plane;
}

.fa-play{
	DefaultText : $fa-play;
}

.fa-play-circle{
	DefaultText : $fa-play-circle;
}

.fa-play-circle-o{
	DefaultText : $fa-play-circle-o;
}

.fa-plug{
	DefaultText : $fa-plug;
}

.fa-plus{
	DefaultText : $fa-plus;
}

.fa-plus-circle{
	DefaultText : $fa-plus-circle;
}

.fa-plus-square{
	DefaultText : $fa-plus-square;
}

.fa-plus-square-o{
	DefaultText : $fa-plus-square-o;
}

.fa-podcast{
	DefaultText : $fa-podcast;
}

.fa-power-off{
	DefaultText : $fa-power-off;
}

.fa-print{
	DefaultText : $fa-print;
}

.fa-product-hunt{
	DefaultText : $fa-product-hunt;
}

.fa-puzzle-piece{
	DefaultText : $fa-puzzle-piece;
}

.fa-qq{
	DefaultText : $fa-qq;
}

.fa-qrcode{
	DefaultText : $fa-qrcode;
}

.fa-question{
	DefaultText : $fa-question;
}

.fa-question-circle{
	DefaultText : $fa-question-circle;
}

.fa-question-circle-o{
	DefaultText : $fa-question-circle-o;
}

.fa-quora{
	DefaultText : $fa-quora;
}

.fa-quote-left{
	DefaultText : $fa-quote-left;
}

.fa-quote-right{
	DefaultText : $fa-quote-right;
}

.fa-ra{
	DefaultText : $fa-ra;
}

.fa-random{
	DefaultText : $fa-random;
}

.fa-ravelry{
	DefaultText : $fa-ravelry;
}

.fa-rebel{
	DefaultText : $fa-rebel;
}

.fa-recycle{
	DefaultText : $fa-recycle;
}

.fa-reddit{
	DefaultText : $fa-reddit;
}

.fa-reddit-alien{
	DefaultText : $fa-reddit-alien;
}

.fa-reddit-square{
	DefaultText : $fa-reddit-square;
}

.fa-refresh{
	DefaultText : $fa-refresh;
}

.fa-registered{
	DefaultText : $fa-registered;
}

.fa-remove{
	DefaultText : $fa-remove;
}

.fa-renren{
	DefaultText : $fa-renren;
}

.fa-reorder{
	DefaultText : $fa-reorder;
}

.fa-repeat{
	DefaultText : $fa-repeat;
}

.fa-reply{
	DefaultText : $fa-reply;
}

.fa-reply-all{
	DefaultText : $fa-reply-all;
}

.fa-resistance{
	DefaultText : $fa-resistance;
}

.fa-retweet{
	DefaultText : $fa-retweet;
}

.fa-rmb{
	DefaultText : $fa-rmb;
}

.fa-road{
	DefaultText : $fa-road;
}

.fa-rocket{
	DefaultText : $fa-rocket;
}

.fa-rotate-left{
	DefaultText : $fa-rotate-left;
}

.fa-rotate-right{
	DefaultText : $fa-rotate-right;
}

.fa-rouble{
	DefaultText : $fa-rouble;
}

.fa-rss{
	DefaultText : $fa-rss;
}

.fa-rss-square{
	DefaultText : $fa-rss-square;
}

.fa-rub{
	DefaultText : $fa-rub;
}

.fa-ruble{
	DefaultText : $fa-ruble;
}

.fa-rupee{
	DefaultText : $fa-rupee;
}

.fa-s15{
	DefaultText : $fa-s15;
}

.fa-safari{
	DefaultText : $fa-safari;
}

.fa-save{
	DefaultText : $fa-save;
}

.fa-scissors{
	DefaultText : $fa-scissors;
}

.fa-scribd{
	DefaultText : $fa-scribd;
}

.fa-search{
	DefaultText : $fa-search;
}

.fa-search-minus{
	DefaultText : $fa-search-minus;
}

.fa-search-plus{
	DefaultText : $fa-search-plus;
}

.fa-sellsy{
	DefaultText : $fa-sellsy;
}

.fa-send{
	DefaultText : $fa-send;
}

.fa-send-o{
	DefaultText : $fa-send-o;
}

.fa-server{
	DefaultText : $fa-server;
}

.fa-share{
	DefaultText : $fa-share;
}

.fa-share-alt{
	DefaultText : $fa-share-alt;
}

.fa-share-alt-square{
	DefaultText : $fa-share-alt-square;
}

.fa-share-square{
	DefaultText : $fa-share-square;
}

.fa-share-square-o{
	DefaultText : $fa-share-square-o;
}

.fa-shekel{
	DefaultText : $fa-shekel;
}

.fa-sheqel{
	DefaultText : $fa-sheqel;
}

.fa-shield{
	DefaultText : $fa-shield;
}

.fa-ship{
	DefaultText : $fa-ship;
}

.fa-shirtsinbulk{
	DefaultText : $fa-shirtsinbulk;
}

.fa-shopping-bag{
	DefaultText : $fa-shopping-bag;
}

.fa-shopping-basket{
	DefaultText : $fa-shopping-basket;
}

.fa-shopping-cart{
	DefaultText : $fa-shopping-cart;
}

.fa-shower{
	DefaultText : $fa-shower;
}

.fa-sign-in{
	DefaultText : $fa-sign-in;
}

.fa-sign-language{
	DefaultText : $fa-sign-language;
}

.fa-sign-out{
	DefaultText : $fa-sign-out;
}

.fa-signal{
	DefaultText : $fa-signal;
}

.fa-signing{
	DefaultText : $fa-signing;
}

.fa-simplybuilt{
	DefaultText : $fa-simplybuilt;
}

.fa-sitemap{
	DefaultText : $fa-sitemap;
}

.fa-skyatlas{
	DefaultText : $fa-skyatlas;
}

.fa-skype{
	DefaultText : $fa-skype;
}

.fa-slack{
	DefaultText : $fa-slack;
}

.fa-sliders{
	DefaultText : $fa-sliders;
}

.fa-slideshare{
	DefaultText : $fa-slideshare;
}

.fa-smile-o{
	DefaultText : $fa-smile-o;
}

.fa-snapchat{
	DefaultText : $fa-snapchat;
}

.fa-snapchat-ghost{
	DefaultText : $fa-snapchat-ghost;
}

.fa-snapchat-square{
	DefaultText : $fa-snapchat-square;
}

.fa-snowflake-o{
	DefaultText : $fa-snowflake-o;
}

.fa-soccer-ball-o{
	DefaultText : $fa-soccer-ball-o;
}

.fa-sort{
	DefaultText : $fa-sort;
}

.fa-sort-alpha-asc{
	DefaultText : $fa-sort-alpha-asc;
}

.fa-sort-alpha-desc{
	DefaultText : $fa-sort-alpha-desc;
}

.fa-sort-amount-asc{
	DefaultText : $fa-sort-amount-asc;
}

.fa-sort-amount-desc{
	DefaultText : $fa-sort-amount-desc;
}

.fa-sort-asc{
	DefaultText : $fa-sort-asc;
}

.fa-sort-desc{
	DefaultText : $fa-sort-desc;
}

.fa-sort-down{
	DefaultText : $fa-sort-down;
}

.fa-sort-numeric-asc{
	DefaultText : $fa-sort-numeric-asc;
}

.fa-sort-numeric-desc{
	DefaultText : $fa-sort-numeric-desc;
}

.fa-sort-up{
	DefaultText : $fa-sort-up;
}

.fa-soundcloud{
	DefaultText : $fa-soundcloud;
}

.fa-space-shuttle{
	DefaultText : $fa-space-shuttle;
}

.fa-spinner{
	DefaultText : $fa-spinner;
}

.fa-spoon{
	DefaultText : $fa-spoon;
}

.fa-spotify{
	DefaultText : $fa-spotify;
}

.fa-square{
	DefaultText : $fa-square;
}

.fa-square-o{
	DefaultText : $fa-square-o;
}

.fa-stack-exchange{
	DefaultText : $fa-stack-exchange;
}

.fa-stack-overflow{
	DefaultText : $fa-stack-overflow;
}

.fa-star{
	DefaultText : $fa-star;
}

.fa-star-half{
	DefaultText : $fa-star-half;
}

.fa-star-half-empty{
	DefaultText : $fa-star-half-empty;
}

.fa-star-half-full{
	DefaultText : $fa-star-half-full;
}

.fa-star-half-o{
	DefaultText : $fa-star-half-o;
}

.fa-star-o{
	DefaultText : $fa-star-o;
}

.fa-steam{
	DefaultText : $fa-steam;
}

.fa-steam-square{
	DefaultText : $fa-steam-square;
}

.fa-step-backward{
	DefaultText : $fa-step-backward;
}

.fa-step-forward{
	DefaultText : $fa-step-forward;
}

.fa-stethoscope{
	DefaultText : $fa-stethoscope;
}

.fa-sticky-note{
	DefaultText : $fa-sticky-note;
}

.fa-sticky-note-o{
	DefaultText : $fa-sticky-note-o;
}

.fa-stop{
	DefaultText : $fa-stop;
}

.fa-stop-circle{
	DefaultText : $fa-stop-circle;
}

.fa-stop-circle-o{
	DefaultText : $fa-stop-circle-o;
}

.fa-street-view{
	DefaultText : $fa-street-view;
}

.fa-strikethrough{
	DefaultText : $fa-strikethrough;
}

.fa-stumbleupon{
	DefaultText : $fa-stumbleupon;
}

.fa-stumbleupon-circle{
	DefaultText : $fa-stumbleupon-circle;
}

.fa-subscript{
	DefaultText : $fa-subscript;
}

.fa-subway{
	DefaultText : $fa-subway;
}

.fa-suitcase{
	DefaultText : $fa-suitcase;
}

.fa-sun-o{
	DefaultText : $fa-sun-o;
}

.fa-superpowers{
	DefaultText : $fa-superpowers;
}

.fa-superscript{
	DefaultText : $fa-superscript;
}

.fa-support{
	DefaultText : $fa-support;
}

.fa-table{
	DefaultText : $fa-table;
}

.fa-tablet{
	DefaultText : $fa-tablet;
}

.fa-tachometer{
	DefaultText : $fa-tachometer;
}

.fa-tag{
	DefaultText : $fa-tag;
}

.fa-tags{
	DefaultText : $fa-tags;
}

.fa-tasks{
	DefaultText : $fa-tasks;
}

.fa-taxi{
	DefaultText : $fa-taxi;
}

.fa-telegram{
	DefaultText : $fa-telegram;
}

.fa-television{
	DefaultText : $fa-television;
}

.fa-tencent-weibo{
	DefaultText : $fa-tencent-weibo;
}

.fa-terminal{
	DefaultText : $fa-terminal;
}

.fa-text-height{
	DefaultText : $fa-text-height;
}

.fa-text-width{
	DefaultText : $fa-text-width;
}

.fa-th{
	DefaultText : $fa-th;
}

.fa-th-large{
	DefaultText : $fa-th-large;
}

.fa-th-list{
	DefaultText : $fa-th-list;
}

.fa-themeisle{
	DefaultText : $fa-themeisle;
}

.fa-thermometer{
	DefaultText : $fa-thermometer;
}

.fa-thermometer-0{
	DefaultText : $fa-thermometer-0;
}

.fa-thermometer-1{
	DefaultText : $fa-thermometer-1;
}

.fa-thermometer-2{
	DefaultText : $fa-thermometer-2;
}

.fa-thermometer-3{
	DefaultText : $fa-thermometer-3;
}

.fa-thermometer-4{
	DefaultText : $fa-thermometer-4;
}

.fa-thermometer-empty{
	DefaultText : $fa-thermometer-empty;
}

.fa-thermometer-full{
	DefaultText : $fa-thermometer-full;
}

.fa-thermometer-half{
	DefaultText : $fa-thermometer-half;
}

.fa-thermometer-quarter{
	DefaultText : $fa-thermometer-quarter;
}

.fa-thermometer-three-quarters{
	DefaultText : $fa-thermometer-three-quarters;
}

.fa-thumb-tack{
	DefaultText : $fa-thumb-tack;
}

.fa-thumbs-down{
	DefaultText : $fa-thumbs-down;
}

.fa-thumbs-o-down{
	DefaultText : $fa-thumbs-o-down;
}

.fa-thumbs-o-up{
	DefaultText : $fa-thumbs-o-up;
}

.fa-thumbs-up{
	DefaultText : $fa-thumbs-up;
}

.fa-ticket{
	DefaultText : $fa-ticket;
}

.fa-times{
	DefaultText : $fa-times;
}

.fa-times-circle{
	DefaultText : $fa-times-circle;
}

.fa-times-circle-o{
	DefaultText : $fa-times-circle-o;
}

.fa-times-rectangle{
	DefaultText : $fa-times-rectangle;
}

.fa-times-rectangle-o{
	DefaultText : $fa-times-rectangle-o;
}

.fa-tint{
	DefaultText : $fa-tint;
}

.fa-toggle-down{
	DefaultText : $fa-toggle-down;
}

.fa-toggle-left{
	DefaultText : $fa-toggle-left;
}

.fa-toggle-off{
	DefaultText : $fa-toggle-off;
}

.fa-toggle-on{
	DefaultText : $fa-toggle-on;
}

.fa-toggle-right{
	DefaultText : $fa-toggle-right;
}

.fa-toggle-up{
	DefaultText : $fa-toggle-up;
}

.fa-trademark{
	DefaultText : $fa-trademark;
}

.fa-train{
	DefaultText : $fa-train;
}

.fa-transgender{
	DefaultText : $fa-transgender;
}

.fa-transgender-alt{
	DefaultText : $fa-transgender-alt;
}

.fa-trash{
	DefaultText : $fa-trash;
}

.fa-trash-o{
	DefaultText : $fa-trash-o;
}

.fa-tree{
	DefaultText : $fa-tree;
}

.fa-trello{
	DefaultText : $fa-trello;
}

.fa-tripadvisor{
	DefaultText : $fa-tripadvisor;
}

.fa-trophy{
	DefaultText : $fa-trophy;
}

.fa-truck{
	DefaultText : $fa-truck;
}

.fa-try{
	DefaultText : $fa-try;
}

.fa-tty{
	DefaultText : $fa-tty;
}

.fa-tumblr{
	DefaultText : $fa-tumblr;
}

.fa-tumblr-square{
	DefaultText : $fa-tumblr-square;
}

.fa-turkish-lira{
	DefaultText : $fa-turkish-lira;
}

.fa-tv{
	DefaultText : $fa-tv;
}

.fa-twitch{
	DefaultText : $fa-twitch;
}

.fa-twitter{
	DefaultText : $fa-twitter;
}

.fa-twitter-square{
	DefaultText : $fa-twitter-square;
}

.fa-umbrella{
	DefaultText : $fa-umbrella;
}

.fa-underline{
	DefaultText : $fa-underline;
}

.fa-undo{
	DefaultText : $fa-undo;
}

.fa-universal-access{
	DefaultText : $fa-universal-access;
}

.fa-university{
	DefaultText : $fa-university;
}

.fa-unlink{
	DefaultText : $fa-unlink;
}

.fa-unlock{
	DefaultText : $fa-unlock;
}

.fa-unlock-alt{
	DefaultText : $fa-unlock-alt;
}

.fa-unsorted{
	DefaultText : $fa-unsorted;
}

.fa-upload{
	DefaultText : $fa-upload;
}

.fa-usb{
	DefaultText : $fa-usb;
}

.fa-usd{
	DefaultText : $fa-usd;
}

.fa-user{
	DefaultText : $fa-user;
}

.fa-user-circle{
	DefaultText : $fa-user-circle;
}

.fa-user-circle-o{
	DefaultText : $fa-user-circle-o;
}

.fa-user-md{
	DefaultText : $fa-user-md;
}

.fa-user-o{
	DefaultText : $fa-user-o;
}

.fa-user-plus{
	DefaultText : $fa-user-plus;
}

.fa-user-secret{
	DefaultText : $fa-user-secret;
}

.fa-user-times{
	DefaultText : $fa-user-times;
}

.fa-users{
	DefaultText : $fa-users;
}

.fa-vcard{
	DefaultText : $fa-vcard;
}

.fa-vcard-o{
	DefaultText : $fa-vcard-o;
}

.fa-venus{
	DefaultText : $fa-venus;
}

.fa-venus-double{
	DefaultText : $fa-venus-double;
}

.fa-venus-mars{
	DefaultText : $fa-venus-mars;
}

.fa-viacoin{
	DefaultText : $fa-viacoin;
}

.fa-viadeo{
	DefaultText : $fa-viadeo;
}

.fa-viadeo-square{
	DefaultText : $fa-viadeo-square;
}

.fa-video-camera{
	DefaultText : $fa-video-camera;
}

.fa-vimeo{
	DefaultText : $fa-vimeo;
}

.fa-vimeo-square{
	DefaultText : $fa-vimeo-square;
}

.fa-vine{
	DefaultText : $fa-vine;
}

.fa-vk{
	DefaultText : $fa-vk;
}

.fa-volume-control-phone{
	DefaultText : $fa-volume-control-phone;
}

.fa-volume-down{
	DefaultText : $fa-volume-down;
}

.fa-volume-off{
	DefaultText : $fa-volume-off;
}

.fa-volume-up{
	DefaultText : $fa-volume-up;
}

.fa-warning{
	DefaultText : $fa-warning;
}

.fa-wechat{
	DefaultText : $fa-wechat;
}

.fa-weibo{
	DefaultText : $fa-weibo;
}

.fa-weixin{
	DefaultText : $fa-weixin;
}

.fa-whatsapp{
	DefaultText : $fa-whatsapp;
}

.fa-wheelchair{
	DefaultText : $fa-wheelchair;
}

.fa-wheelchair-alt{
	DefaultText : $fa-wheelchair-alt;
}

.fa-wifi{
	DefaultText : $fa-wifi;
}

.fa-wikipedia-w{
	DefaultText : $fa-wikipedia-w;
}

.fa-window-close{
	DefaultText : $fa-window-close;
}

.fa-window-close-o{
	DefaultText : $fa-window-close-o;
}

.fa-window-maximize{
	DefaultText : $fa-window-maximize;
}

.fa-window-minimize{
	DefaultText : $fa-window-minimize;
}

.fa-window-restore{
	DefaultText : $fa-window-restore;
}

.fa-windows{
	DefaultText : $fa-windows;
}

.fa-won{
	DefaultText : $fa-won;
}

.fa-wordpress{
	DefaultText : $fa-wordpress;
}

.fa-wpbeginner{
	DefaultText : $fa-wpbeginner;
}

.fa-wpexplorer{
	DefaultText : $fa-wpexplorer;
}

.fa-wpforms{
	DefaultText : $fa-wpforms;
}

.fa-wrench{
	DefaultText : $fa-wrench;
}

.fa-xing{
	DefaultText : $fa-xing;
}

.fa-xing-square{
	DefaultText : $fa-xing-square;
}

.fa-y-combinator{
	DefaultText : $fa-y-combinator;
}

.fa-y-combinator-square{
	DefaultText : $fa-y-combinator-square;
}

.fa-yahoo{
	DefaultText : $fa-yahoo;
}

.fa-yc{
	DefaultText : $fa-yc;
}

.fa-yc-square{
	DefaultText : $fa-yc-square;
}

.fa-yelp{
	DefaultText : $fa-yelp;
}

.fa-yen{
	DefaultText : $fa-yen;
}

.fa-yoast{
	DefaultText : $fa-yoast;
}

.fa-youtube{
	DefaultText : $fa-youtube;
}

.fa-youtube-play{
	DefaultText : $fa-youtube-play;
}

.fa-youtube-square{
	DefaultText : $fa-youtube-square;
}