.access-block-page.login-queue-page{
	.game-logo{
		Position : 0 -15%;
	}
	.content{
		Position : 0 -10%;
		.info-box{
			.text{
				Position : 0 30%;
				Padding : 5;
				Size : 100% 45%;
			}
		}
	}
}